<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard</title>

    <!-- StyleSheet CSS -->
    <style th:replace="template-style.html"></style>

</head>

<body class="sidebar-mini layout-fixed" style="height: auto;">

<div class="wrapper">

    <!-- TOP NAVBAR -->
    <div th:replace="template-topnav.html"></div>

    <!-- SIDEBAR -->
    <div th:replace="template-sidebar.html"></div>


    <!--------------------------- MAIN CONTENT --------------------------------->
    <div class="content-wrapper bg-dark" style="min-height: 521px;">

        <section class="content">

            <!-- MODAL ABOUT -->
            <div th:replace="modal-about.html"></div>

            <!-- MODAL ADD APPM -->
            <div th:replace="modal-add-appm.html"></div>

            <!-- MODAL DEL APPM -->
            <div th:replace="modal-del-appm.html"></div>

            <div id="main" class="container-fluid">

                <!-- APPMANAGER -->
                <div th:replace="content-appmanager.html"></div>

            </div>
        </section>

    </div>

    <!-- SIDEBAR -->
    <div th:replace="template-footer.html"></div>

</div>

    <!-- JAVASCRIPT JS -->
    <script th:replace="template-script.html"></script>
    <script src="custom/js/home.js"></script>

</body>
</html>