<div class="modal" style="display:none" id="modalAddAppm">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">

            <!-- FORM HEADER -->
            <div class="modal-header text-white" style="background: rgb(45,45,45)">
                <h5 class="modal-title font-weight-semibold mb-0" >Add Appmanager</h5>
<!--                <button type="button" class="bg-transparent border-0 shadow-none" id="closeDeleteDeptModal"><h5>×</h5>-->
                <button id="btnCloseModalAddAppm" type="button" class="btn-close btn-close-white my-0" data-bs-dismiss="modal" aria-label="Close"></button>

                </button>
            </div>

            <!-- FORM BODY -->
            <div class="modal-body text-white font-weight-semibold small" style="background: rgb(58,63,68)">

                <form>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="appmId" placeholder="ID">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="appmName"
                                   placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="appmDesc"
                                   placeholder="Description">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="appmIp"
                                   placeholder="IP Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="appmPort"
                                   placeholder="Port">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="appmKey"
                                   placeholder="API KEY">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="appmAction"
                                   placeholder="Test Action ID">
                        </div>


                    </div>

                    <div class="card-footer">
                        <button type="submit" onclick="addAppm()" class="btn btn-success float-right">Add Appm</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>


