<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sources</title>

    <!-- StyleSheet CSS -->
    <link rel="stylesheet" href="lib/fontawesome/css/all.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <!-- AdminLTE -->
    <link rel="stylesheet" href="lib/adminlte/dist/css/adminlte.min.css">

    <!-- Overlay Scrollbars -->
    <link rel="stylesheet" href="lib/overlayScrollbars/css/OverlayScrollbars.min.css">

</head>

<body class="sidebar-mini layout-fixed" style="height: auto;">


<div class="wrapper">

    <!-- TOP NAVBAR -->
    <div th:replace="template-topnav.html"></div>

    <!-- SIDEBAR -->
    <div th:replace="template-sidebar.html"></div>


    <!--------------------------- MAIN CONTENT --------------------------------->
    <div class="content-wrapper bg-dark" style="min-height: 521px;">

        <section class="content">
            <div class="container-fluid p-1">

                <!-- MODAL ADD APPM -->
                <div th:replace="modal-add-appm.html"></div>

                <div class="row">
                <div class="col-md-12">
                    <div class="card bg-dark">
                        <div class="card-header">
                            <h3 class="card-title">Applications Manager</h3>
                            <div class="card-tools">
                                <ul class="pagination pagination-sm float-right">
                                    <li><a href="#"><i class="fa fa-refresh px-2" title="Update"></i></a></li>
                                </ul>
                                <ul class="pagination pagination-sm float-right">
                                    <li><a href="#"><i id="btnAddAppm" class="fa fa-plus px-2" title="Add"></i></a></li>
                                </ul>
                                <ul class="pagination pagination-sm float-right">
                                    <li><a href="#"><i class="fa fa-minus px-2" title="Delete"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>IP Address</th>
                                    <th>Port</th>
                                    <th>Nodes</th>
                                    <th>Capacity</th>
                                    <th>Label</th>
                                    <th>Last Update</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="appminfo : ${appminfo}">
                                    <td th:text="*{appminfo.getId()}"></td>
                                    <td th:text="*{appminfo.getName()}"></td>
                                    <td th:text="*{appminfo.getDescription()}"></td>
                                    <td th:text="*{appminfo.getIpAddress()}"></td>
                                    <td th:text="*{appminfo.getPort()}"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>



                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>





            </div>
        </section>

    </div>

    <!-- SIDEBAR -->
    <div th:replace="template-footer.html"></div>

</div>

<!-- JAVASCRIPT JS -->
<script th:replace="template-script.html"></script>
<!--<script src="custom/js/src.js"></script>-->

</body>
</html>